<a href="https://colab.research.google.com/github/Warren-Mbekezeli-Mnisi/Logistics_Regression/blob/main/SENDY_LOGISTICS_MODELS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SENDY LOGISTICS CHALLENGE**

## **DATA PREPROCESSING**

## Import Libraries

In [48]:
#import all the important libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Import Dataset

### Import the Training DataSet

In [50]:
#import training dataset and observe the results
train_set = pd.read_csv('Train.csv')

y_train = train_set.iloc[:, -1].values

train_test=train_set.drop(['User Id', 'Vehicle Type','Order No', 'Arrival at Destination - Weekday (Mo = 1)',
             'Arrival at Destination - Time', 'Arrival at Destination - Day of Month', 'Time from Pickup to Arrival' ],
             axis=1)

test_set = pd.read_csv('Test.csv')
test_set1=test_set.drop(['User Id', 'Vehicle Type','Order No'  ],
             axis=1)

rider_info = pd.read_csv('Riders.csv')

print(len(train_set.columns))
print(train_set1.columns)

print(len(test_set.columns))
print(test_set1.columns)

for column in train_set1.columns:
  if column not in test_set1.columns:
    print(column)

29

NameError: name 'train_set1' is not defined

## Preproccessing the Datasets

In [29]:
def convert_to_24hrs(column):
    column = pd.to_datetime(column, format='%I:%M:%S %p').dt.strftime("%H:%M:%S")
    return column

In [30]:
train_set1['Confirmation - Time'] = pd.to_timedelta(convert_to_24hrs(train_set1['Confirmation - Time'] ))
train_set1['Placement - Time'] = pd.to_timedelta(convert_to_24hrs(train_set1['Placement - Time'] ))
train_set1['Arrival at Pickup - Time'] =  pd.to_timedelta(convert_to_24hrs(train_set1['Arrival at Pickup - Time'] ))
train_set1['Pickup - Time'] =  pd.to_timedelta(convert_to_24hrs(train_set1['Pickup - Time'] ))

test_set1['Confirmation - Time'] = pd.to_timedelta(convert_to_24hrs(test_set1['Confirmation - Time'] ))
test_set1['Placement - Time'] = pd.to_timedelta(convert_to_24hrs(test_set1['Placement - Time'] ))
test_set1['Arrival at Pickup - Time'] =  pd.to_timedelta(convert_to_24hrs(test_set1['Arrival at Pickup - Time'] ))
test_set1['Pickup - Time'] =  pd.to_timedelta(convert_to_24hrs(test_set1['Pickup - Time'] ))

In [31]:
train_set1['Time from Confirmation to placement'] = train_set1['Confirmation - Time']- train_set['Placement - Time']
train_set['Waiting Time'] = train_set['Pickup - Time']- train_set['Arrival at Pickup - Time']

test_set1['Time from Confirmation to placement'] = test_set1['Confirmation - Time']- test_set['Placement - Time']
test_set1['Waiting Time'] = test_set['Pickup - Time']- test_set1['Arrival at Pickup - Time']

In [32]:
train_set1['Time from Confirmation to placement'] = train_set1['Time from Confirmation to placement'] / np.timedelta64(1, 's')
train_set1['Waiting Time'] = train_set1['Waiting Time'] / np.timedelta64(1, 's')

test_set1['Time from Confirmation to placement'] = test_set1['Time from Confirmation to placement'] / np.timedelta64(1, 's')
test_set1['Waiting Time'] = test_set1['Waiting Time'] / np.timedelta64(1, 's')

In [33]:
train_set1['Temperature'] = train_set1['Temperature'].fillna(train_set1['Temperature'].mean())

test_set1['Temperature'] = test_set1['Temperature'].fillna(test_set1['Temperature'].mean())

In [34]:
train_set1['Precipitation in millimeters'] = train_set1['Precipitation in millimeters'].fillna(0)

test_set1['Precipitation in millimeters'] = test_set1['Precipitation in millimeters'].fillna(0)

In [35]:
train_set1 = pd.merge(train_set, rider_info, on='Rider Id', how= 'left')

test_set1 = pd.merge(test_set, rider_info, on='Rider Id', how= 'left')

In [36]:
train_set1.drop(['Rider Id','Confirmation - Time','Placement - Time' ,'Pickup - Time','Arrival at Pickup - Time'],
             axis=1, inplace=True)

test_set1.drop(['Rider Id','Confirmation - Time','Placement - Time' ,'Pickup - Time','Arrival at Pickup - Time'],
             axis=1, inplace=True)

In [37]:
train_set1.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),Arrival at Pickup - Day of Month,...,Pickup Long,Destination Lat,Destination Long,Time from Pickup to Arrival,Time from Confirmation to placement,Waiting Time,No_Of_Orders,Age,Average_Rating,No_of_Ratings
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9,5,9,...,36.830370,-1.300406,36.829741,745,264.0,1363.0,1637,1309,13.8,549
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,12,5,12,...,36.899315,-1.295004,36.814358,1993,425.0,227.0,396,339,13.6,69
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,30,2,30,...,36.843419,-1.300921,36.828195,455,199.0,209.0,1023,242,12.5,114
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,15,5,15,...,36.832396,-1.257147,36.795063,1341,31.0,310.0,886,283,14.5,113
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,13,1,13,...,36.792118,-1.295041,36.809817,1214,60.0,90.0,2311,872,14.1,533

In [38]:
test_set1.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),Arrival at Pickup - Day of Month,...,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Time from Confirmation to placement,Waiting Time,No_Of_Orders,Age,Average_Rating,No_of_Ratings
0,Order_No_19248,User_Id_3355,Bike,3,Business,27,3,27,3,27,...,-1.333275,36.870815,-1.305249,36.822390,19.0,823.0,439,1511,13.3,171
1,Order_No_12736,User_Id_3647,Bike,3,Business,17,5,17,5,17,...,-1.272639,36.794723,-1.277007,36.823907,102.0,310.0,488,273,14.4,45
2,Order_No_768,User_Id_2154,Bike,3,Business,27,4,27,4,27,...,-1.290894,36.822971,-1.276574,36.851365,1011.0,1474.0,833,460,13.1,67
3,Order_No_15332,User_Id_2910,Bike,3,Business,17,1,17,1,17,...,-1.290503,36.809646,-1.303382,36.790658,112.0,851.0,487,560,13.7,44
4,Order_No_21373,User_Id_1205,Bike,3,Business,11,2,11,2,11,...,-1.281081,36.814423,-1.266467,36.792161,257.0,525.0,4761,1120,14.1,1010

In [39]:
X_train = train_set1.iloc[:, :].values
X_test = test_set1.iloc[:, :].values

In [40]:
y_train = y_train1.reshape(len(y_train), 1)

In [41]:
print(X_train[0])
print(X_test[0])

['Order_No_4211' 'User_Id_633' 'Bike' 3 'Business' 9 5 9 5 9 5 9 5 9 5
 '10:39:55 AM' 4 20.4 0.0 -1.3177546999999998 36.8303703 -1.3004062
 36.829741 745 264.0 1363.0 1637 1309 13.8 549]
['Order_No_19248' 'User_Id_3355' 'Bike' 3 'Business' 27 3 27 3 27 3 27 3 8
 23.246119694548046 0.0 -1.3332749 36.870814700000004 -1.3052491000000002
 36.8223899 19.0 823.0 439 1511 13.3 171]

In [43]:
#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
print(len(X_train[0]))

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(drop='first'), [0,1])], remainder = 'passthrough')
X_train = np.array(ct.fit_transform(X_train))

ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(drop='first'), [0,1])], remainder = 'passthrough')
X_test = np.array(ct.fit_transform(X_test))

30

ValueError: For a sparse output, all columns should be a numeric or convertible to a numeric.

In [17]:
X_train[0]

array([0.0, 1.0, 0.0, 0.0, 9, 5, 9, 5, 9, 5, 9, 5, 4, 20.4, 0.0,
       -1.3177546999999998, 36.8303703, -1.3004062, 36.829741, 264.0,
       1363.0, 1637, 1309, 13.8, 549], dtype=object)

## Feature Scaling

In [18]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[:, 4:] = sc.fit_transform(X_train[:, 4:])

In [19]:
X_test[:, 4:] = sc.transform(X_test[:, 4:])

In [20]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_y = StandardScaler()
X_train = sc_X.fit_transform(X_train)
#y_train = sc_y.fit_transform(y_train)

In [22]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
y_pred = regressor.predict(X_test)

In [26]:
from sklearn import metrics
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

0.7940943330131243

In [27]:
submission_df =test_set[['Order No']]
submission_df['Time_from_Pickup_to_Arrival'] = y_pred

KeyError: "None of [Index(['Order No'], dtype='object')] are in the [columns]"

## **MODEL #1**

## **MODEL #2**

## **MODEL #3**