<a href="https://colab.research.google.com/github/Warren-Mbekezeli-Mnisi/Logistics_Regression/blob/main/SENDY_LOGISTICS_MODELS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SENDY LOGISTICS CHALLENGE**

## **DATA PREPROCESSING**

## Import Libraries

In [1]:
#import all the important libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Import Dataset

### Import the Training DataSet

In [3]:
#import training dataset and observe the results
df_train= pd.read_csv('Train.csv') # load the train.csv dataset to a pandas dataframe
df_test = pd.read_csv('Test.csv') # load the test.csv dataset to a pandas dataframe

## Preproccessing the Datasets

In [4]:
df_train.info() #get detailed information about the train dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21201 entries, 0 to 21200
Data columns (total 29 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Order No                                   21201 non-null  object
 1   User Id                                    21201 non-null  object
 2   Vehicle Type                               21201 non-null  object
 3   Platform Type                              21201 non-null  int64
 4   Personal or Business                       21201 non-null  object
 5   Placement - Day of Month                   21201 non-null  int64
 6   Placement - Weekday (Mo = 1)               21201 non-null  int64
 7   Placement - Time                           21201 non-null  object
 8   Confirmation - Day of Month                21201 non-null  int64
 9   Confirmation - Weekday (Mo = 1)            21201 non-null  int64
 10  Confirmation - Time                        21201 non-null  object
 11  Arrival at Pickup - Day of Month           21201 non-null  int64
 12  Arrival at Pickup - Weekday (Mo = 1)       21201 non-null  int64
 13  Arrival at Pickup - Time                   21201 non-null  object
 14  Pickup - Day of Month                      21201 non-null  int64
 15  Pickup - Weekday (Mo = 1)                  21201 non-null  int64
 16  Pickup - Time                              21201 non-null  object
 17  Arrival at Destination - Day of Month      21201 non-null  int64
 18  Arrival at Destination - Weekday (Mo = 1)  21201 non-null  int64
 19  Arrival at Destination - Time              21201 non-null  object
 20  Distance (KM)                              21201 non-null  int64
 21  Temperature                                16835 non-null  float64
 22  Precipitation in millimeters               552 non-null    float64
 23  Pickup Lat                                 21201 non-null  float64
 24  Pickup Long                                21201 non-null  float64
 25  Destination Lat                            21201 non-null  float64
 26  Destination Long                           21201 non-null  float64
 27  Rider Id                                   21201 non-null  object
 28  Time from Pickup to Arrival                21201 non-null  int64
dtypes: float64(6), int64(13), object(10)
memory usage: 4.7+ MB

Inspect the train dataset to investigate the following:

1. The number of columns and rows
2. The datatype for each column
3. To check for any missing values on each column

from the above .info() method we can conclude that the number of columns is 29, the number of rows(entries) is 21201, we also have different datatypes for different columns, finally it is evident that we have missing values in two columns which are Temperature and Precipitation in millimeters

In [5]:
df_test.info() #get detailed information about the test dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7068 entries, 0 to 7067
Data columns (total 25 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Order No                              7068 non-null   object
 1   User Id                               7068 non-null   object
 2   Vehicle Type                          7068 non-null   object
 3   Platform Type                         7068 non-null   int64
 4   Personal or Business                  7068 non-null   object
 5   Placement - Day of Month              7068 non-null   int64
 6   Placement - Weekday (Mo = 1)          7068 non-null   int64
 7   Placement - Time                      7068 non-null   object
 8   Confirmation - Day of Month           7068 non-null   int64
 9   Confirmation - Weekday (Mo = 1)       7068 non-null   int64
 10  Confirmation - Time                   7068 non-null   object
 11  Arrival at Pickup - Day of Month      7068 non-null   int64
 12  Arrival at Pickup - Weekday (Mo = 1)  7068 non-null   int64
 13  Arrival at Pickup - Time              7068 non-null   object
 14  Pickup - Day of Month                 7068 non-null   int64
 15  Pickup - Weekday (Mo = 1)             7068 non-null   int64
 16  Pickup - Time                         7068 non-null   object
 17  Distance (KM)                         7068 non-null   int64
 18  Temperature                           5631 non-null   float64
 19  Precipitation in millimeters          199 non-null    float64
 20  Pickup Lat                            7068 non-null   float64
 21  Pickup Long                           7068 non-null   float64
 22  Destination Lat                       7068 non-null   float64
 23  Destination Long                      7068 non-null   float64
 24  Rider Id                              7068 non-null   object
dtypes: float64(6), int64(10), object(9)
memory usage: 1.3+ MB

from the above .info() method we can conclude that the number of columns is 25, the number of rows(entries) is 7068, we also have different datatypes for different columns, finally it is evident that we have missing values in two columns which are Temperature and Precipitation in millimeters.

We now have inspected our two dataframes, we can conclude that we need to do data engineering on both dataframes.

The first step is to handle missing entries on both our dataset, as mentioned before the columns in question here are Temperature and Precipitation in millimeters. it will be wise for us to inspect the columns to identify thier datatypes in other for us to be able to handle those missing values

In [15]:
#inspecting the missing values from both the df_train and df_train dataframe
df_train[['Temperature','Precipitation in millimeters']].dtypes

Temperature                     float64
Precipitation in millimeters    float64
dtype: object

In [16]:
#inspecting the missing values from both the df_train and df_train dataframe
df_test[['Temperature','Precipitation in millimeters']].dtypes

Temperature                     float64
Precipitation in millimeters    float64
dtype: object

Now that we are aware that both columns have a float64 datatype we can now decide that we will fill the missing values with the average/mean of each column

In [17]:
#filling the missing values on both the dataset
df_train['Temperature'].fillna((df_train['Temperature'].mean()), inplace=True)
df_train['Precipitation in millimeters'].fillna((df_train['Precipitation in millimeters'].mean()), inplace=True)

df_test['Temperature'].fillna((df_test['Temperature'].mean()), inplace=True)

df_test['Precipitation in millimeters'].fillna((df_test['Precipitation in millimeters'].mean()), inplace=True)

In [18]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21201 entries, 0 to 21200
Data columns (total 29 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Order No                                   21201 non-null  object
 1   User Id                                    21201 non-null  object
 2   Vehicle Type                               21201 non-null  object
 3   Platform Type                              21201 non-null  int64
 4   Personal or Business                       21201 non-null  object
 5   Placement - Day of Month                   21201 non-null  int64
 6   Placement - Weekday (Mo = 1)               21201 non-null  int64
 7   Placement - Time                           21201 non-null  object
 8   Confirmation - Day of Month                21201 non-null  int64
 9   Confirmation - Weekday (Mo = 1)            21201 non-null  int64
 10  Confirmation - Time                        21201 non-null  object
 11  Arrival at Pickup - Day of Month           21201 non-null  int64
 12  Arrival at Pickup - Weekday (Mo = 1)       21201 non-null  int64
 13  Arrival at Pickup - Time                   21201 non-null  object
 14  Pickup - Day of Month                      21201 non-null  int64
 15  Pickup - Weekday (Mo = 1)                  21201 non-null  int64
 16  Pickup - Time                              21201 non-null  object
 17  Arrival at Destination - Day of Month      21201 non-null  int64
 18  Arrival at Destination - Weekday (Mo = 1)  21201 non-null  int64
 19  Arrival at Destination - Time              21201 non-null  object
 20  Distance (KM)                              21201 non-null  int64
 21  Temperature                                21201 non-null  float64
 22  Precipitation in millimeters               21201 non-null  float64
 23  Pickup Lat                                 21201 non-null  float64
 24  Pickup Long                                21201 non-null  float64
 25  Destination Lat                            21201 non-null  float64
 26  Destination Long                           21201 non-null  float64
 27  Rider Id                                   21201 non-null  object
 28  Time from Pickup to Arrival                21201 non-null  int64
dtypes: float64(6), int64(13), object(10)
memory usage: 4.7+ MB

From informtion above we can see that our train dataframe we have additional Idependent variables, which results in our dataframe have more (idv) as opposed to the test dataframe, so to fix this we will have to squeeze the ivd of the train dataframe to match with the test (ivd)

In [20]:
new_cols =df_test.columns # assign a new variable to assess the test columns
new_data =df_train[new_cols] # transform the df_train.columns to match excatly with the df_test.columns 
y=np.array(df_train['Time from Pickup to Arrival']).reshape(-1,1) # defining the dependent variable

In [22]:
# inspect the new dataframe
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21201 entries, 0 to 21200
Data columns (total 25 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Order No                              21201 non-null  object
 1   User Id                               21201 non-null  object
 2   Vehicle Type                          21201 non-null  object
 3   Platform Type                         21201 non-null  int64
 4   Personal or Business                  21201 non-null  object
 5   Placement - Day of Month              21201 non-null  int64
 6   Placement - Weekday (Mo = 1)          21201 non-null  int64
 7   Placement - Time                      21201 non-null  object
 8   Confirmation - Day of Month           21201 non-null  int64
 9   Confirmation - Weekday (Mo = 1)       21201 non-null  int64
 10  Confirmation - Time                   21201 non-null  object
 11  Arrival at Pickup - Day of Month      21201 non-null  int64
 12  Arrival at Pickup - Weekday (Mo = 1)  21201 non-null  int64
 13  Arrival at Pickup - Time              21201 non-null  object
 14  Pickup - Day of Month                 21201 non-null  int64
 15  Pickup - Weekday (Mo = 1)             21201 non-null  int64
 16  Pickup - Time                         21201 non-null  object
 17  Distance (KM)                         21201 non-null  int64
 18  Temperature                           21201 non-null  float64
 19  Precipitation in millimeters          21201 non-null  float64
 20  Pickup Lat                            21201 non-null  float64
 21  Pickup Long                           21201 non-null  float64
 22  Destination Lat                       21201 non-null  float64
 23  Destination Long                      21201 non-null  float64
 24  Rider Id                              21201 non-null  object
dtypes: float64(6), int64(10), object(9)
memory usage: 4.0+ MB

In [23]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7068 entries, 0 to 7067
Data columns (total 25 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Order No                              7068 non-null   object
 1   User Id                               7068 non-null   object
 2   Vehicle Type                          7068 non-null   object
 3   Platform Type                         7068 non-null   int64
 4   Personal or Business                  7068 non-null   object
 5   Placement - Day of Month              7068 non-null   int64
 6   Placement - Weekday (Mo = 1)          7068 non-null   int64
 7   Placement - Time                      7068 non-null   object
 8   Confirmation - Day of Month           7068 non-null   int64
 9   Confirmation - Weekday (Mo = 1)       7068 non-null   int64
 10  Confirmation - Time                   7068 non-null   object
 11  Arrival at Pickup - Day of Month      7068 non-null   int64
 12  Arrival at Pickup - Weekday (Mo = 1)  7068 non-null   int64
 13  Arrival at Pickup - Time              7068 non-null   object
 14  Pickup - Day of Month                 7068 non-null   int64
 15  Pickup - Weekday (Mo = 1)             7068 non-null   int64
 16  Pickup - Time                         7068 non-null   object
 17  Distance (KM)                         7068 non-null   int64
 18  Temperature                           7068 non-null   float64
 19  Precipitation in millimeters          7068 non-null   float64
 20  Pickup Lat                            7068 non-null   float64
 21  Pickup Long                           7068 non-null   float64
 22  Destination Lat                       7068 non-null   float64
 23  Destination Long                      7068 non-null   float64
 24  Rider Id                              7068 non-null   object
dtypes: float64(6), int64(10), object(9)
memory usage: 1.3+ MB

Now we have transformed the train dataset to match the testing dataframe columns and assigned it a new variable new_data. Since we are going to use both the dataframe to train,validate and test our model we would want to have concatenate both the dataframes into a single dataframe

In [24]:
df=pd.concat([new_data,df_test])
df.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Pickup - Weekday (Mo = 1),Pickup - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,...,5,10:27:30 AM,4,20.400000,7.905797,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,...,5,11:44:09 AM,16,26.400000,7.905797,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,12:39:25 PM,30,2,...,2,12:53:03 PM,3,23.258889,7.905797,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,9:25:34 AM,15,5,...,5,9:43:06 AM,9,19.200000,7.905797,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,...,1,10:05:23 AM,9,15.400000,7.905797,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770

In [9]:
df_train = pd.get_dummies(df_train,prefix=['Vehicle Type','Personal or Business'],columns = ['Vehicle Type','Personal or Business'])
df_train.head()

,Order No,User Id,Platform Type,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),Confirmation - Time,Arrival at Pickup - Day of Month,...,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival,Vehicle Type_Bike,Personal or Business_Business,Personal or Business_Personal
0,Order_No_4211,User_Id_633,3,9,5,9:35:46 AM,9,5,9:40:10 AM,9,...,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745,1,1,0
1,Order_No_25375,User_Id_2285,3,12,5,11:16:16 AM,12,5,11:23:21 AM,12,...,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993,1,0,1
2,Order_No_1899,User_Id_265,3,30,2,12:39:25 PM,30,2,12:42:44 PM,30,...,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455,1,1,0
3,Order_No_9336,User_Id_1402,3,15,5,9:25:34 AM,15,5,9:26:05 AM,15,...,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341,1,1,0
4,Order_No_27883,User_Id_1737,1,13,1,9:55:18 AM,13,1,9:56:18 AM,13,...,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214,1,0,1

We want to change the naming convention of the dataframe to be consistent throught the dataframe

In [25]:
df.columns = [col.replace(" ","_") for col in df.columns] # replace the whitespace on the columns with an underscore 
df.head()

,Order_No,User_Id,Vehicle_Type,Platform_Type,Personal_or_Business,Placement_-_Day_of_Month,Placement_-_Weekday_(Mo_=_1),Placement_-_Time,Confirmation_-_Day_of_Month,Confirmation_-_Weekday_(Mo_=_1),...,Pickup_-_Weekday_(Mo_=_1),Pickup_-_Time,Distance_(KM),Temperature,Precipitation_in_millimeters,Pickup_Lat,Pickup_Long,Destination_Lat,Destination_Long,Rider_Id
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,...,5,10:27:30 AM,4,20.400000,7.905797,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,...,5,11:44:09 AM,16,26.400000,7.905797,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,12:39:25 PM,30,2,...,2,12:53:03 PM,3,23.258889,7.905797,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,9:25:34 AM,15,5,...,5,9:43:06 AM,9,19.200000,7.905797,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,...,1,10:05:23 AM,9,15.400000,7.905797,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770

## EDA

## **MODEL #1**

## **MODEL #2**

## **MODEL #3**